Source: lablgtk2
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders:
 Ralf Treinen <treinen@debian.org>,
 Stéphane Glondu <glondu@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-ocaml,
 ocaml-nox,
 ocaml,
 liblablgl-ocaml-dev,
 libncurses5-dev,
 libgtk2.0-dev,
 libgtkgl2.0-dev,
 libglade2-dev,
 librsvg2-dev,
 libgtkspell-dev,
 ocaml-findlib
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://garrigue.github.io/lablgtk/
Vcs-Git: https://salsa.debian.org/ocaml-team/lablgtk2.git
Vcs-Browser: https://salsa.debian.org/ocaml-team/lablgtk2

Package: liblablgtk2-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: runtime libraries for OCaml bindings for GTK+ version 2
 lablgtk2 contains bindings for GTK+ 2.x and OCaml.
 .
 This package include only the dynamic libraries needed for running dynamic
 bytecode executables.

Package: liblablgtk2-gl-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: runtime libraries for OCaml bindings to GtkGL
 lablgtk2 contains bindings for GTK+ 2.x and Objective Caml.
 .
 This package include only the dynamic libraries needed for running dynamic
 bytecode executables using GtkGL functionalities.

Package: liblablgtk2-gnome-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: runtime libraries for OCaml bindings to GNOME
 lablgtk2 contains bindings for GTK+ 2.x and Objective Caml.
 .
 This package include only the dynamic libraries needed for running
 dynamic bytecode executables using GNOME functionalities (rsvg).

Package: liblablgtk2-ocaml-dev
Architecture: any
Suggests: liblablgtk2-gl-ocaml-dev, liblablgtk2-gnome-ocaml-dev
Depends:
 libgtk2.0-dev,
 libglade2-dev,
 libgtkspell-dev,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Recommends: liblablgtk2-ocaml-doc
Description: OCaml bindings to Gtk+ version 2
 lablgtk2 contains bindings for GTK+ 2.x and OCaml.
 .
 This package contains the development files of lablgtk.

Package: liblablgtk2-gl-ocaml-dev
Architecture: any
Suggests: liblablgtk2-gnome-ocaml-dev
Depends:
 libgtkgl2.0-dev,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Recommends: liblablgtk2-ocaml-doc
Description: OCaml bindings to GtkGL
 lablgtk2 contains bindings for GTK+ 2.x and OCaml.
 .
 This package contains the development files of lablgtk for libraries using
 GtkGL.

Package: liblablgtk2-gnome-ocaml-dev
Architecture: any
Depends:
 librsvg2-dev,
 ${ocaml:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Recommends: liblablgtk2-ocaml-doc
Description: OCaml bindings to GNOME
 lablgtk2 contains bindings for GTK+ 2.x and Objective Caml.
 .
 This package contains the development files of lablgtk for libraries using
 GNOME functionalities (rsvg).

Package: liblablgtk2-ocaml-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Enhances:
 liblablgtk2-ocaml-dev,
 liblablgtk2-gl-ocaml-dev,
 liblablgtk2-gnome-ocaml-dev,
Description: OCaml bindings to Gtk+ version 2 (documentation)
 LablGTK2 contains bindings for GTK+ 2.x and OCaml.
 .
 This package contains the API reference of all libraries provided by
 LablGTK2.
