#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

OCAMLABI := $(shell ocamlc -version)
OFILES := $(patsubst %.in,%,$(shell ls debian/*.in))
OCAML_LIBDIR := $(shell ocamlc -where)

DESTDIR = $(CURDIR)/debian/tmp

# We want to use dpatch.
include /usr/share/dpatch/dpatch.make
PACKAGE = lablgtk

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

ocamlinit:
	for f in $(OFILES); do sed -e 's/@OCamlABI@/$(OCAMLABI)/g' $$f.in > $$f; done

configure: configure-stamp
configure-stamp: ocamlinit
	dh_testdir

	./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
		--with-gl --with-glade --with-rsvg --with-gnomecanvas --with-gtkspell --with-gnomeui --with-panel

	touch configure-stamp


build: build-stamp
build-stamp: patch-stamp configure-stamp 
	dh_testdir

	$(MAKE) depend
	$(MAKE)
	if [ -x /usr/bin/ocamlopt ]; then \
		$(MAKE) opt; \
	fi

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	[ ! -f config.make ] || $(MAKE) clean

	dh_clean config.make

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(DESTDIR)

	# Install METAs
	cp debian/META $(CURDIR)/debian/liblablgtk2-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2
	cp debian/META.lablgtk2-gl $(CURDIR)/debian/liblablgtk2-gl-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2
	cp debian/META.lablgtk2-gnome $(CURDIR)/debian/liblablgtk2-gnome-ocaml-dev/$(OCAML_LIBDIR)/METAS

	# This file is needed by lablgtk2-doc
	cp src/gnomeDruid.cmi $(CURDIR)/debian/liblablgtk2-gnome-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2

	# Examples
	cp -r examples/GL/*  $(CURDIR)/debian/liblablgtk2-gl-ocaml-dev/usr/share/doc/liblablgtk2-gl-ocaml-dev/examples/
	cp -r examples/rsvg examples/panel examples/canvas $(CURDIR)/debian/liblablgtk2-gnome-ocaml-dev/usr/share/doc/liblablgtk2-gnome-ocaml-dev/examples/

	# Lintian override
	install -m 644 debian/liblablgtk2-ocaml-dev.override $(CURDIR)/debian/liblablgtk2-ocaml-dev/usr/share/lintian/overrides/liblablgtk2-ocaml-dev

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -s
	dh_testroot -s

	dh_installexamples -s --exclude='.cvsignore' --exclude='rsvg' --exclude='panel' --exclude='canvas' --exclude='GL'
	dh_installmenu -s
	dh_movefiles -s
	dh_install -s --sourcedir=$(DESTDIR) --list-missing -X ".cmx" -X ".cmxa" -X "*.o"
	if [ -x /usr/bin/ocamlopt ]; then \
	  mv $(DESTDIR)/$(OCAML_LIBDIR)/lablgtk2/*.cmx  '$(CURDIR)/debian/liblablgtk2-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2/'; \
	  mv $(DESTDIR)/$(OCAML_LIBDIR)/lablgtk2/*.cmxa '$(CURDIR)/debian/liblablgtk2-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2/'; \
	  mv $(DESTDIR)/$(OCAML_LIBDIR)/lablgtk2/*.o    '$(CURDIR)/debian/liblablgtk2-ocaml-dev/$(OCAML_LIBDIR)/lablgtk2/'; \
	fi
	# Doc generation (TODO: use CDBS)
	OCAMLDOC_PKG="liblablgtk2-ocaml-dev liblablgtk2-gl-ocaml-dev liblablgtk2-gnome-ocaml-dev"; \
	OCAMLDOC_INCLUDE=`for i in $$OCAMLDOC_PKG; do find debian/$$i/$(OCAML_LIBDIR)/ -type d -exec echo -I \{} \; ; done`; \
	for i in $$OCAMLDOC_PKG; do \
	  mkdir -p debian/$$i/usr/share/doc/$$i/html/api; \
	  find debian/$$i/$(OCAML_LIBDIR)/ \
  	    -type f -name '*.mli' \
	    | xargs ocamldoc -I $(OCAML_LIBDIR)/lablgl -I $(OCAML_LIBDIR)/threads \
	     -pp "sed 's/@gtkdoc *\([A-Za-z-]* *[A-Za-z-]*\)/\(gtkdoc: \1\)/g'" \
	     -stars -m A -no-custom-tags $$OCAMLDOC_INCLUDE -html \
	     -d debian/$$i/usr/share/doc/$$i/html/api \
            || true; \
	    sed -e "s/@PACKAGE@/$$i/g" \
	     /usr/share/cdbs/1/class/ocaml-docbase-template.txt \
	     > debian/$$i.doc-base.ocamldoc-apiref ; \
	done
	dh_installdocs -s
	dh_installman -s
	dh_installinfo -s
	dh_installchangelogs CHANGES -s
	dh_link -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_makeshlibs -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s -- -VF:OCamlABI="$(OCAMLABI)"
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
